<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gradeArray</key>
	<array>
		<dict>
			<key>name</key>
			<string>全部</string>
			<key>id</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>高2011级</string>
			<key>id</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>高2012级</string>
			<key>id</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>高2013级</string>
			<key>id</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>高2014级</string>
			<key>id</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>高2015级</string>
			<key>id</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>高2016级</string>
			<key>id</key>
			<integer>6</integer>
		</dict>
	</array>
	<key>rows</key>
	<array>
		<dict>
			<key>name</key>
			<string>02月第一周</string>
			<key>rows</key>
			<array>
				<dict>
					<key>id</key>
					<integer>0</integer>
					<key>name</key>
					<string>张三</string>
					<key>rank</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>李四</string>
					<key>rank</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>name</key>
					<string>王五</string>
					<key>rank</key>
					<integer>8</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>02月第二周</string>
			<key>rows</key>
			<array>
				<dict>
					<key>id</key>
					<integer>0</integer>
					<key>name</key>
					<string>张三</string>
					<key>rank</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>李四</string>
					<key>rank</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>name</key>
					<string>王五</string>
					<key>rank</key>
					<integer>43</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>02月第三周</string>
			<key>rows</key>
			<array>
				<dict>
					<key>id</key>
					<integer>0</integer>
					<key>name</key>
					<string>张三</string>
					<key>rank</key>
					<integer>25</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>李四</string>
					<key>rank</key>
					<integer>65</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>name</key>
					<string>王五</string>
					<key>rank</key>
					<integer>23</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>02月第四周</string>
			<key>rows</key>
			<array>
				<dict>
					<key>id</key>
					<integer>0</integer>
					<key>name</key>
					<string>张三</string>
					<key>rank</key>
					<integer>54</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>李四</string>
					<key>rank</key>
					<integer>25</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>name</key>
					<string>王五</string>
					<key>rank</key>
					<real>62.5</real>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
