<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>课堂测评第三期封装的View.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA8C15331E6EA48C00FF253D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA8C154C1E6EA48C00FF253D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA8C15571E6EA48C00FF253D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
